node_modules/
/.pnp\
.pnp.js
dist/
build/
/**/*.log
/.env
/.env.local
/.env.*.local
/.cache
coverage/
/.turbo
/.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json
*.tgz
/.DS_Store
/.parcel-cache
/.next
/out
/.nyc_output
/.sass-cache
/.serverless
/.pids
*.pid
*.seed
*.pid.lock
prisma/dev.db
*.sqlite
/.history